<h2>Search results for "<%= @q %>"</h2>

<% if @song_results.any? %>
  <h3>Song Results</h3>
  <div class="content-section search-results">
    <%= erb :'songs/_list', locals: {songs: @song_results} %>
  </div>
<% end %>

<% if @personnel_results.any? %>
  <div class="content-section">
    <div class="sidebar-title">
      Personnel Results
    </div>
    <div class="results-container search-results">
      <% @personnel_results.sort_by {|person| person.yachtski}.reverse.each do |person| %>
      <div class="row personnel-credit">
        <div class="yachtski-result" style="display:none"><%= person.yachtski %></div>
        <div class="bullet col-1">&nbsp;</div>
        <div class="col-10">
          <a href="/personnel/<%= person.slug %>"><%= person.name %></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
