<div class="row">
  <div class="col-1">Yachtski</div>
  <div class="col-6">Song</div>
  <div class="col-1">JD</div>
  <div class="col-1">Hunter</div>
  <div class="col-1">Steve</div>
  <div class="col-1">Dave</div>
  <div class="col-1">Episode</div>
</div>

<div class="song-list">
  <% songs.each do |song| %>
  <div class="row">
    <div class="col-1"><%= song.yachtski.round(2) %></div>

    <div class="col-6 title">
      <a href="/artists/<%= song.artist.id %>"><%= song.artist.name %></a> - <%= song.title %>
    </div>

    <div class="col-1"><%= song.jd_score %></div>
    <div class="col-1"><%= song.hunter_score %></div>
    <div class="col-1"><%= song.steve_score %></div>
    <div class="col-1"><%= song.dave_score %></div>
    <div class="col-1"><a href="/episodes/<%= song.episode.id %>"><%= song.episode.number %></a></div>
  </div>
  <% end %>
</div>
