<div class="row song-list-item">
  <div class="song-list-box yachtski avg col-1"><%= song.yachtski.round(2) %></div>

  <div class="song-list-box col-6 title">
    <%= song.artist_list %> - <a href="/songs/<%= song.slug %>"><%= song.title %></a> (<%= song.year %>)
  </div>

  <div class="song-list-box yachtski jd-score col-1"><%= song.jd_score %></div>
  <div class="song-list-box yachtski hunter-score col-1"><%= song.hunter_score %></div>
  <div class="song-list-box yachtski steve-score col-1"><%= song.steve_score %></div>
  <div class="song-list-box yachtski dave-score col-1"><%= song.dave_score %></div>
  <div class="song-list-box col-1"><a href="/episodes/<%= song.episode.id %>"><%= song.episode.number %></a></div>
</div>
