<div class="sidebar-bg-shape yachtski">
  <div class="overall-score">
    <div class="yachtski avg" style="display:none"><%= song['yachtski'] %></div>
    <div class="big-score"><%= song['yachtski'] %></div>
    <div class="yacht-status"><%= song['status'] %></div>
  </div>
  <div class="host-scores">
    <div class="row score">
      <div class="col-6 host">
        JD
      </div>
      <div class="yachtski avg side-score col-6">
        <%= scores['jd'] %>
      </div>
    </div>
    <div class="row score">
      <div class="col-6 host">
        Hunter
      </div>
      <div class="yachtski avg side-score col-6">
        <%= scores['hunter'] %>
      </div>
    </div>
    <div class="row score">
      <div class="col-6 host">
        Steve
      </div>
      <div class="yachtski avg side-score col-6">
        <%= scores['steve'] %>
      </div>
    </div>
    <div class="row score">
      <div class="col-6 host">
        Dave
      </div>
      <div class="yachtski avg side-score col-6">
        <%= scores['dave'] %>
      </div>
    </div>
  </div>
</div>
