<p>(Select the result with the most comprehensive track credits)</p>
<% @results.each do |result| %>
<div class="serch-result">
  <a href="https://www.discogs.com<%= result['uri'] %>" target="_blank"><%= result["title"] %></a> (<%= result["year"] %> / <%= result["country"] %> / <%= result["format"].join(", ") %>)
  <button class="add-personnel-btn" id="<%= result['id']%>">Use this release</button>
</div>
<% end %>
