<div class="big-title"><%= song.title %></div>
<div class="artist-credit">By: <%= song.artist_list %></div>
<% if song.album %>
  <div class="track-info">Track <%= song.track_no %> on <%= song.album.title %> (<%= @song.year %>)</div>
<% end %>
