<div class="song-details">
  <div class="score-box">
    <div class="yachtski big-score avg"><%= song.yachtski.round(2) %></div>
    <div class="row score">
      <div class="yachtski col-8">
        <%= song.jd_score %>
      </div>
      <div class="col-4">
        JD
      </div>
    </div>
    <div class="row score">
      <div class="yachtski col-8">
        <%= song.hunter_score %>
      </div>
      <div class="col-4">
        Hunter
      </div>
    </div>
    <div class="row score">
      <div class="yachtski col-8">
        <%= song.steve_score %>
      </div>
      <div class="col-4">
        Steve
      </div>
    </div>
    <div class="row score">
      <div class="yachtski col-8">
        <%= song.dave_score %>
      </div>
      <div class="col-4">
        Dave
      </div>
    </div>
  </div>
</div>
