<div class="big-title"><%= song.title %></div>
<div class="artist-credit"><%= song.artist_list %></div>
<% if song.album %>
  <div class="track-info"><a href="/albums/<%= song.album.id %>"><i><%= song.album.title %></i></a> (<%= @song.year %>)</div>
<% end %>
