<div class="row page-section details">
  <div class="col-7 full-width-res">
    <% if @album %>
      <div class="row">
        <div class="col-2 hideable col-title">Album:</div>
        <div class="col-10 info-album"><a href="<%= @album['resource_url'] %>"><i><%= @album['title'] %></i></a></div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-2 hideable col-title">Year:</div>
      <div class="col-10 info-year"><%= @song['year'] %></div>
    </div>
    <div class="row">
      <div class="col-2 hideable col-title">Episode:</div>
      <div class="col-10 hideable info-ep">
        <a href="<%= @episode['resource_url'] %>"><%= @episode['number'] %></a>
        <% if @episode['podcast_url'] %> (<a href="<%= @episode['podcast_url'] %>" target="_blank">Listen</a>)<% end %>
      </div>
    </div>
  </div>

  <% if @song['video_url'] %>
    <div class="col-5 full-width-res">
      <div class="yt-embed">
        <iframe width="375" height="75" src="<%= @song['video_url'] %>?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  <% end %>
</div>
