<div class="row">
  <div class="song-info-panel col-3">
    <%= erb :'songs/_score_panel', locals: { song: @song } %>
  </div>

  <div class="personnel-panel col-9">
    <%= erb :'songs/_song_info', locals: { song: @song } %>
    <div class="row song-details">
      <div class="yt-embed">
        <iframe width="250" height="250" src="https://www.youtube.com/embed/93E0bLh6oRE" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="song-credits">
        <% if @song.credits.players.any? %>
            <div>Song Personnel:</div>
            <%= erb :'songs/_personnel', locals: { credits: @song.credits.players } %>
        <% end %>
      </div>

      <% if @song.album %>
        <div class="album-credits">
          <div>Album personnel:</div>
          <%= erb :'songs/_personnel', locals: { credits: @song.album.credits.players } %>
        </div>
      <% end %>
    </div>
  </div>
  <% if !@song.album %>
    <a href="/songs/<%= @song.id %>/edit">Edit entry</a>
  <% end %>
</div>
