<div class="row">
  <div class="score-sidebar col-3">
    <%= erb :'songs/_score_panel', locals: { song: @song } %>
  </div>

  <div class="personnel-panel col-9">
    <%= erb :'songs/_song_info', locals: { song: @song } %>
    <div class="row media-details">
      <div class="yt-embed">
        <iframe width="250" height="250" src="https://www.youtube.com/embed/93E0bLh6oRE" frameborder="0" allowfullscreen></iframe>
      </div>
      <section class="credit-container">
        <% if @song.credits.players.any? %>
            <div class="column-head">Song Personnel:</div>
            <%= erb :'songs/_personnel', locals: { credits: @song.credits.players } %>
        <% end %>
      </section>

      <section class="credit-container">
      <% if @song.album %>
          <div class="column-head">Album personnel:</div>
          <%= erb :'songs/_personnel', locals: { credits: @song.album.credits.players } %>
      <% end %>
    </section>
    </div>
  </div>
  <% if !@song.album %>
    <a href="/songs/<%= @song.id %>/edit">Edit entry</a>
  <% end %>
</div>
