<div class="row">
  <div class="col-3 sidebar-wrapper">
    <div class="sidebar-bg-shape yachtski">
      <div class="yachtski avg" style="display:none">150</div>
      <div class="big-score" style="display:none">150</div>
      <div class="yacht-status"></div>
    </div>
  </div>

  <div class="col-9 main-wrapper">
    <div class="page-header">
      <div class="big-title"><%= @main_result["title"] %></div>
      <div class="artist-credit">&nbsp</div>
    </div>

    <% if @main_result_details[:track_personnel].any? %>
      <div class="page-section personnel">
        <div class="section-title">
          Track Personnel
        </div>
        <div class="credits-list">
          <% @main_result_details[:track_personnel].sort_by {|credit| credit[:yachtski]}.reverse.each do |credit| %>
          <div class="row credit">
            <div class="yachtski-list-item" style="display:none"><%= credit[:yachtski] %></div>
            <div class="col-1 bullet">&nbsp;</div>
            <div class="col-4 personnel-link">
              <% if credit[:slug] %>
                <a href="/personnel/<%= credit[:slug] %>"><%= credit[:name] %></a>
              <% else %>
                <%= credit[:name] %>
              <% end %>
            </div>
            <div class="col-7 personnel-role">
              <%= credit[:role] %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @main_result_details[:album_personnel].any? %>
      <div class="page-section personnel">
        <div class="section-title">
          Album Personnel
        </div>
        <div class="credits-list">
          <% @main_result_details[:album_personnel].sort_by {|credit| credit[:yachtski]}.reverse.each do |credit| %>
          <div class="row credit">
            <div class="yachtski-list-item" style="display:none"><%= credit[:yachtski] %></div>
            <div class="col-1 bullet">&nbsp;</div>
            <div class="col-4 personnel-link">
              <% if credit[:slug] %>
                <a href="/personnel/<%= credit[:slug] %>"><%= credit[:name] %></a>
              <% else %>
                <%= credit[:name] %>
              <% end %>
            </div>
            <div class="col-7 personnel-role">
              <%= credit[:role] %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
