<div class="row song-list-item">
  <div class="song-list-box yachtski avg col-1 yachtski-column"><%= song.yachtski.round(2) %></div>
  <div class="song-list-box col-1 track-column hideable"><%= song.track_no %></div>
  <div class="song-list-box col-5 title-column">
    <% if song.artist_list == "Various" %>
      <%= song.artist_list %> - <a href="/songs/<%= song.slug %>"><%= song.title %></a>
    <% else %>
      <a href="/songs/<%= song.slug %>"><%= song.title %></a>
    <% end %>
  </div>
  <div class="hideable">
    <div class="song-list-box yachtski jd-column col-1"><%= song.jd_score %></div>
    <div class="song-list-box yachtski hunter-column col-1"><%= song.hunter_score %></div>
    <div class="song-list-box yachtski steve-column col-1"><%= song.steve_score %></div>
    <div class="song-list-box yachtski dave-column col-1"><%= song.dave_score %></div>
    <div class="song-list-box episode-column col-1"><a href="/episodes/<%= song.episode.id %>"><%= song.episode.number %></a></div>
  </div>
</div>
