<h1><a href="/artists/<%= @album.artist.id %>"><%= @album.artist.name %></a> - <%= @album.title %> (<%= @album.year %>)</h1>

<%= erb :'songs/_list', locals: {songs: @album.songs } %>

<% if @album.credits.any? %>
  <%= erb :'songs/_personnel', locals: { credits: @album.credits } %>
<% end %>
