<div class="row">
  <div class="col-3 sidebar-wrapper">
    <div class="sidebar-bg-shape yachtski">
      <div class="yachtski avg" style="display:none"><%= @album['yachtski'] %></div>
      <div class="big-score"><%= @album['yachtski'].round(2) %></div>
      <div class="yacht-status">Average Yachtski</div>
    </div>
  </div>

  <div class="col-9 main-wrapper">

    <div class="page-header">
      <div class="big-title"><i><%= @album['title'] %></i></div>
      <div class="artist-credit">
        by
        <%= @album['artists'].map {|artist| "<a href='#{artist['resource_url']}'>#{artist['name']}</a>" }.join(', ') %>
        | <%= @album['year'] %>
      </div>
    </div>

    <div class="page-section tracklist">
      <div class="section-title">
        Album Tracklist
      </div>
        <%= erb :'albums/_song_list', locals: { songs: @songs } %>
    </div>

  </div>
</div>
