<div class="row album-container">

  <div class="score-sidebar col-3">
    <%= erb :'albums/_score_panel', locals: {album: @album, songs: @songs } %>
  </div>

  <div class="col-9 album-info">

    <div class="big-title">
      <i><%= @album.title %></i> (<%= @album.year %>)
    </div>
    <div class="artist-credit">
      <%= @album.artist_list %>
    </div>

    <%= erb :'albums/_song_list', locals: { songs: @songs } %>

    <div class="personnel-panel">
      <div class="section-head">Album personnel:</div>
      <div class="row media-details">
        <section class="credit-container">
          <%= erb :'albums/_personnel', locals: { credits: @album.combined_players } %>
        </section>
      </div>
    </div>
  </div>

</div>
