<div class="row">
  <div class="song-list-box yachtski avg col-1 yachtski-column"><%= song['scores']['yachtski'].round(2) %></div>
  <div class="song-list-box col-5 title">
    <a href="<%= song['resource_url'] %>"><%= song['title'] %></a>
  </div>
  <div class="hideable">
    <div class="song-list-box col-1"><%= song['year'] %></div>

    <div class="song-list-box yachtski col-1"><%= song['scores']['jd'] %></div>
    <div class="song-list-box yachtski col-1"><%= song['scores']['hunter'] %></div>
    <div class="song-list-box yachtski col-1"><%= song['scores']['steve'] %></div>
    <div class="song-list-box yachtski col-1"><%= song['scores']['dave'] %></div>
    <div class="song-list-box col-1"><a href="<%= song['episode']['resource_url'] %>"><%= song['episode']['number'] %></a></div>
  </div>
</div>
