<div class="row personnel-container">

  <div class="score-sidebar col-3">
    <div class="score-box">
      <div class="big-score yachtski avg">
        <%= @personnel.yachtski.round(2) %>
      </div>
      <div class="yacht-status">Yachtski Average</div>
    </div>
  </div>

  <div class="col-9 personnel-info">
    <div class="big-title"><%= @personnel.name %></div>
    <% if @personnel.song_performances.any? %>
      <div class="personnel-song-list">
          <%= erb :'personnel/_song_list', locals: {songs: @personnel.song_performances} %>
      </div>
    <% end %>

    <%= erb :'personnel/_credits', locals: {credits: @personnel.combined_song_credits, type: "Song"} %>
    <%= erb :'personnel/_credits', locals: {credits: @personnel.combined_album_credits, type: "Album"} %>
  </div>
</div>
