<h1><%= @personnel.name %></h1>

<% if @song_credits %>
  <h3>Appears on songs:</h3>
  <div class="personnel-credits-list">
    <% @song_credits.each do |credit| %>
      <div class="personnel-credit">
        <a href="/songs/<%= credit.creditable.id %>"><%= credit.creditable.title %></a> - <%= credit.role %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @album_credits %>
  <h3>Appears on albums:</h3>
  <div class="personnel-credits-list">
    <% @album_credits.each do |credit| %>
      <div class="personnel-credit">
        <a href="/albums/<%= credit.creditable.id %>"><%= credit.creditable.title %></a> - <%= credit.role %>
      </div>
    <% end %>
  </div>
<% end %>
