<div class="stats-wrapper">
  <div class="host-name"><%= host_stats[:host] %></div>
  <div class="page-section">
    <div class="host-stat">
      Essential: <%= host_stats[:yacht_count][:essential] %>, Yacht: <%= host_stats[:yacht_count][:yacht] %>, Nyacht: <%= host_stats[:yacht_count][:nyacht] %>
    </div>
    <div class="host-stat">Average deviation from the mean: <%= host_stats[:avg_deviation_from_mean].round(3) %></div>
  </div>

  <div class="row">
    <div class="page-section col-6">
      <div class="section-title">Largest 'Yacht' Dissents</div>
      <% host_stats[:dissents][:yacht].each do |dissent| %>
        <div class="dissent">
          <%= dissent[:song][:artists].map {|artist| "<a href='/personnel/#{artist[:slug]}'>#{artist[:name]}</a>" }.join(", ") %> - <%= "<a href='/songs/#{dissent[:song][:slug]}'>#{dissent[:song][:title]}</a>" %> (<%= dissent[:dissent].round(2) %> pts)
        </div>
      <% end %>
    </div>

    <div class="page-section col-6">
      <div class="section-title">Largest 'Nyacht' Dissents</div>
      <% host_stats[:dissents][:nyacht].each do |dissent| %>
        <div class="dissent">
          <%= dissent[:song][:artists].map {|artist| "<a href='/personnel/#{artist[:slug]}'>#{artist[:name]}</a>" }.join(", ") %> - <%= "<a href='/songs/#{dissent[:song][:slug]}'>#{dissent[:song][:title]}</a>" %> (<%= dissent[:dissent].round(2) %> pts)
        </div>
      <% end %>
    </div>
  </div>

  <div class="page-section">
    <div class="section-title">Largest disagreements</div>
    <% host_stats[:disagreements].each do |disagreement| %>
      <% yacht = disagreement[:yacht] %>
      <% nyacht = disagreement[:nyacht] %>
      <div class="disagreement">
        <div class="name">vs <%= disagreement[:host] %>:</div>
        <p>
          Yacht: <%= yacht[:song][:artists].map {|artist| "<a href='/personnel/#{artist[:slug]}'>#{artist[:name]}</a>" }.join(", ") %> -
                 <%= "<a href='/songs/#{yacht[:song][:slug]}'>#{yacht[:song][:title]}</a>" %> (<%= yacht[:disagreement].round(2) %> pts)
        </p>
        <p>
          Nyacht: <%= nyacht[:song][:artists].map {|artist| "<a href='/personnel/#{artist[:slug]}'>#{artist[:name]}</a>" }.join(", ") %> -
                 <%= "<a href='/songs/#{nyacht[:song][:slug]}'>#{nyacht[:song][:title]}</a>" %> (<%= nyacht[:disagreement].round(2) %> pts)
        </p>
      </div>
    <% end %>
  </div>

</div>
