<div class="stats-wrapper">
  <div class="host-name"><%= host_stats[:host] %></div>
  <div class="page-section">
    <div class="host-stat">
      Essential: <%= host_stats[:yacht_count][:essential] %>, Yacht: <%= host_stats[:yacht_count][:yacht] %>, Nyacht: <%= host_stats[:yacht_count][:nyacht] %>
    </div>
    <div class="host-stat">Average deviation from the mean: <%= host_stats[:avg_deviation_from_mean].round(3) %></div>
  </div>

  <div class="row">
    <div class="page-section col-6">
      <div class="section-title">Largest 'Yacht' Dissents:</div>
      <% dissents[:yacht].each do |dissent| %>
        <div class="dissent">
          <%= dissent[:song].artist_list %> - <%= dissent[:song].title %> (<%= dissent[:dissent].round(2) %> pts)
        </div>
      <% end %>
    </div>

    <div class="page-section col-6">
      <div class="section-title">Largest 'Nyacht' Dissents:</div>
      <% dissents[:nyacht].each do |dissent| %>
        <div class="dissent">
          <%= dissent[:song].artist_list %> - <%= dissent[:song].title %> (<%= dissent[:dissent].round(2) %> pts)
        </div>
      <% end %>
    </div>
  </div>

  <div class="page-section">
    <div class="section-title">Largest disagreements:</div>
    <% disagreements.each do |disagreement| %>
      <div class="disagreement">
        <div class="name">vs <%= nice_name(disagreement[:host]) %>:</div>
        <p>Yacht: <%= disagreement[:yacht][:song].artist_list %> - <%= disagreement[:yacht][:song].title %> (<%= disagreement[:yacht][:disagreement] %> pt difference)</p>
        <p>Nyacht: <%= disagreement[:nyacht][:song].artist_list %> - <%= disagreement[:nyacht][:song].title %> (<%= disagreement[:nyacht][:disagreement] %> pt difference)</p>
      </div>
    <% end %>
  </div>

</div>
