<div class="host-panel col-6">
  <% total_yacht = total_yacht_pct(host) %>
  <% disagreements = all_disagreements(host) %>
  <% dissents = dissent(host) %>

  <div class="host-name"><%= nice_name(host) %></div>
  <div class="host-stat">Total Yacht Percentage: <%= total_yacht[:pct].round(2) %>% (<%= total_yacht[:count] %> / <%= Song.all.length %>)</div>

  <div class="host-stat">Absolute mean deviation: <%= avg_deviation(host).round(3) %></div>

  <div class="host-stat">
    <p>Largest 'Yacht' Dissents:</p>

    <% dissents[:yacht].each do |dissent| %>
      <div class="dissent">
        <%= dissent[:song].artist_list %> - <%= dissent[:song].title %> (<%= dissent[:dissent].round(2) %> pts)
      </div>
    <% end %>

    <p>Largest 'Nyacht' Dissents:</p>

    <% dissents[:nyacht].each do |dissent| %>
      <div class="dissent">
        <%= dissent[:song].artist_list %> - <%= dissent[:song].title %> (<%= dissent[:dissent].round(2) %> pts)
      </div>
    <% end %>
  </div>

  <div class="host-stat">
    <p>Largest disagreements:<p>
    <% disagreements.each do |disagreement| %>
      <div class="disagreement">
        <div class="name">vs <%= nice_name(disagreement[:host]) %>:</div>
        <p>Yacht: <%= disagreement[:yacht][:song].artist_list %> - <%= disagreement[:yacht][:song].title %> (<%= disagreement[:yacht][:disagreement] %> pt difference)</p>
        <p>Nyacht: <%= disagreement[:nyacht][:song].artist_list %> - <%= disagreement[:nyacht][:song].title %> (<%= disagreement[:nyacht][:disagreement] %> pt difference)</p>
      </div>
    <% end %>
  </div>

</div>
